* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    background: transparent;
    font-family: inherit;
    }
    
    a {
    text-decoration: none;
    }
    
    a img {
    border: none;
    }
    
    button,
    a {
    cursor: pointer;
    color: inherit;
    }
    
    textarea {
    resize: none;
    }
    
    button,
    textarea,
    select {
    appearance: none !important;
    border-radius: 0;
    }
    
    /*End of CSS reset*/

    body {
        font-family: 'Montserrat', sans-serif;
        background-color: #f8f7f3;
        color: #1a24fb;
    }
    
    /* === HEADER === */

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        width: 100%;
        max-width: 1280px;
        height: 40px;
        top: 0;
        padding: 10px;
        color: #f8f7f3;
        background-color: #1a24fb;
        text-transform: uppercase;
        z-index: 2;
    }
    
    #caption {
        font-size: 12px;
        letter-spacing: 0.2em;
        font-weight: 400;
    }

    .material-icons.menu {
        font-size: 24px;
    }
    
    /* === CARDS === */

    #root {
        display: flex;   
        flex-wrap: wrap;
        justify-content: center;
        gap: 100px 20px;
        max-width: 1280px;
        width: 100%;
        margin: 0 auto;
        padding: 100px 50px;
    }
    
    .bookcard {
        display: flex;
        flex-direction: column;
        position: relative;
        min-height: 450px;
        max-width: 350px;
        padding: 40px;
        border: 2px solid #1a24fb;
        background-color: #f8f7f3;
        color: #1a24fb;
    }
    
    .number {
        position: absolute;
        top: 5px;
        right: 3px;
        width: 40px;
        height: 40px;
        padding: 2px;
        text-align: center;    
        font-size: 24px;
        font-weight: 700;
        background-color: #f8f7f3;
        color: #1a24fb;
    }

    .author {
        text-transform: uppercase;
        letter-spacing: 0.2em;
        font-size: 12px;
        font-weight: 400;
    }
    
    .description {
        font-size: 16px;
        font-family: 'Overpass', sans-serif;
        font-weight: 400;
    }
    
    .name {
        display: flex;
        align-items: center;
        margin-top: 15px;
        margin-bottom: 25px;
        font-size: 36px;
        font-weight: 700;
    }
        
    .details-button {
        display: flex;
        position: absolute;              
        justify-content: space-between;
        max-width: 350px;
        width: 100%;
        height: 18px;
        margin-top: 10px;
        font-size: 14px;
        background-color: #f8f7f3;
        color: #1a24fb
    }
    
    .material-icons.arrow {
        font-size: 18px;
    }
    
    .details-button:hover {
        background-color: #1a24fb;
        color: #f8f7f3;
    }